/* Estilos para el body y html */
body, html {
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el padding por defecto */
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    background-color: white; /* Fondo blanco */
}

/* Estilos para el encabezado */
.header {
    display: flex; /* Usa flexbox para el diseño */
    justify-content: flex-start; /* Alinea los elementos al inicio en el eje principal */
    align-items: flex-start; /* Alinea los elementos al inicio en el eje transversal */
    position: fixed; /* Fija el encabezado en la parte superior */
    background-color: #64babe; /* Color de fondo */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
    z-index: 1000; /* Coloca el encabezado en el frente */
    top: 0; /* Alinea al borde superior */
    left: 0; /* Alinea al borde izquierdo */
    width: 100%; /* Ancho completo */
    margin-top: 0px; /* Sin margen superior */
}

/* Estilos para el menú del índice */
.index-menu {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: row; /* Elementos en una fila */
    margin: 15px 5px; /* Margen alrededor del menú */
}

/* Estilos para los elementos del menú */
.menu-elem {
    list-style: none; /* Sin viñetas */
    margin: 0 8px; /* Margen horizontal */
    padding: 0; /* Sin padding */
    transition: 0.5s; /* Transición suave para transformaciones */
}

/* Estilos para los enlaces del menú */
.menu-elem a {
    color: #ecebea; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

/* Efecto hover para los elementos del menú */
.menu-elem:hover {
    transform: translateY(-5px); /* Desplaza hacia arriba */
}

/* Efecto hover para los enlaces del menú */
.menu-elem a:hover {
    background-color: #085979; /* Fondo al pasar el ratón */
    color: #ecebea; /* Color del texto */
}

/* Estilos para el pie de página */
.footer {
    display: flex; /* Usa flexbox para el diseño */
    position: relative; /* Posición relativa */
    background-color: #64babe; /* Color de fondo */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto */
    font-family: 'Raleway', sans-serif; /* Fuente */
    width: 100%; /* Ancho completo */
    flex-direction: column; /* Elementos en una columna */
}

/* Estilos para el menú de contacto */
.contact-menu {
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: row; /* Elementos en una fila */
    margin: 10px 10px; /* Margen alrededor del menú */
    justify-content: center; /* Alinea los elementos al centro */
    align-items: center; /* Alinea los elementos al centro en el eje transversal */
}

/* Estilos para los iconos del menú de contacto */
.icon-elem {
    list-style: none; /* Sin viñetas */
    margin: 0 8px; /* Margen horizontal */
    padding: 0; /* Sin padding */
    transition: 0.5s; /* Transición suave para transformaciones */
    color: #ecebea; /* Color del texto */
    font-size: 32px; /* Tamaño de la fuente */
    position: relative; /* Posición relativa */
    cursor: pointer; /* Cursor en forma de mano */
}

/* Estilos para los enlaces de los iconos */
.icon-elem a {
    color: #ecebea; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
}

/* Efecto hover para los iconos del menú de contacto */
.icon-elem:hover {
    transform: translateY(-5px); /* Desplaza hacia arriba */
}

/* Contenedor del tooltip */
.icon-elem .tooltiptext {
    visibility: hidden; /* Oculta el tooltip por defecto */
    background-color: #085979; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 2px 5px; /* Espaciado interno */
    position: absolute; /* Posición absoluta */
    z-index: 1; /* Coloca el tooltip por encima */
    top: 150%; /* Desplaza hacia abajo del icono */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición horizontal */
    opacity: 0; /* Inicialmente invisible */
    font-size: 12px; /* Tamaño de fuente */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    transition: opacity 0.3s; /* Transición suave para la opacidad */
}

/* Flecha del tooltip */
.icon-elem .tooltiptext::after {
    content: ""; /* Contenido vacío para la flecha */
    position: absolute; /* Posición absoluta */
    top: 0; /* Posición en la parte superior del tooltip */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta la posición horizontal */
    border-width: 5px; /* Tamaño de la flecha */
    border-style: solid; /* Estilo sólido */
    border-color: transparent transparent #085979 transparent; /* Color de la flecha */
    margin-top: -10px; /* Ajusta la posición vertical */
}

/* Efecto hover para mostrar el tooltip */
.icon-elem:hover .tooltiptext {
    visibility: visible; /* Muestra el tooltip */
    opacity: 1; /* Totalmente visible */
}

/* Estilos para el copyright */
.copyright {
    display: flex; /* Usa flexbox para el diseño */
    justify-content: center; /* Alinea los elementos al centro */
    align-items: center; /* Alinea los elementos al centro en el eje transversal */
    color: #ecebea; /* Color del texto */
}

/* Estilos para el contenido principal */
.main {
    margin-top: 60px; /* Margen superior */
    background-color: white; /* Fondo blanco */
}

/* Estilos para los encabezados */
h1, h2, h3, h4 {
    text-decoration: underline; /* Subrayado */
    text-decoration-color: #64BABE; /* Color del subrayado */
}

/* Estilos generales */
* {
    font-family: 'Raleway', sans-serif; /* Fuente */
}
